body {
  text-align: center;
  background-image: url(https://assets.wallpapersin4k.org/uploads/2017/04/To-Do-List-Wallpaper-9.png);
}

div {
  height: 200px;
}

h1 {
  font-size: 50px;
  color: #2b2b28
}